* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #FFFFFF;
  display: flex;
}

nav {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 212px;
}

.user, .nav-block, header, #search {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.nav-block {
  padding: 28px 28px 0px 28px;
}

.user {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.black-40 {
  color: rgba(0, 0, 0, 0.4);
}

.black-20 {
  color: rgba(0, 0, 0, 0.2);
}

.fav-rec-1 {
  display: flex;
  gap: 20px;
}

.fav-rec-2 {
  margin-top: 8px;
  display: flex;
  gap: 12px;
}

.dash {
  margin-top: 32px;
}
.dash ul li {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-top: 12px;
}

.list-aside {
  padding-left: 40px;
}

.arrowaside {
  margin-right: 4px;
}

.user-profile {
  display: flex;
  text-align: center;
}

main {
  width: 100%;
}

header {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 12px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header ul {
  display: flex;
  justify-content: space-between;
}
header ul div {
  display: flex;
  align-items: center;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-12 {
  margin-right: 12px;
}

.black-color {
  color: #1C1C1C;
}

#search {
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 4px 0;
}

#switch {
  background: none;
  border: none;
}

aside {
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 26px 24px 0;
  max-width: 280px;
  width: 100%;
}

.typo1 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.typo2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.typo3 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.subtitle {
  margin-bottom: 20px;
  display: block;
}

.subtitle2 {
  margin: 32px 0 20px 0;
  display: block;
}

.in-box {
  display: flex;
  gap: 8px;
}

.block-box {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.div-box {
  display: flex;
  flex-direction: column;
}

.aside-img {
  margin-bottom: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  padding-right: 36px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
footer ul {
  display: flex;
  gap: 20px;
}